# Xcode
build/*
!default.xcworkspace
!project.xcworkspace
SmartTrucking.xcodeproj/project.xcworkspace/xcuserdata
SmartTrucking.xcodeproj/xcuserdata
SmartTrucking.xcworkspace/xcuserdata
SmartTrucking.xcworkspace/xcshareddata/SmartTrucking.xccheckout

# Artifacts
*.dSYM.zip
*.ipa
*.log
*.out
*.tar.gz

# Pods
Pods

# Tests
tests

# OS X
.DS_Store

# Idea Products
.idea
